/* body */
body {
  background-color: black;
}

.mainTitle {
  color:antiquewhite;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.card {
  height: 100%;
  
}

.buttonContact{font-size: 27px;}



.jumbosi {

  background-color: antiquewhite;
  text-align: center;
  align-content: center;
  padding: 30px;
  width: 100%;
}

.card-title {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  color: rgb(94, 94, 15);
}

.sectionHeading {
  color: yellow;
  padding: 10px;
  text-align: center;
  padding-bottom: 15px;
  text-decoration: underline;
}

.content {
  color: rgb(218, 218, 11);
  padding: 20px;
  

}

.card-body {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.customNav {
    
    width: 100%;
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    padding-bottom: 20px;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    font-size: 24px;
    
  }
  
  .navbar-brand {
    padding-right: 15px;
    width: 65px;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

  .card-img-top {
    aspect-ratio: 16/9;
    object-fit: cover;
  }

.nav-link {color: rgb(107, 186, 190);}

.navbar-nav:focus, .navbar-nav:hover {
    color: whitesmoke;
    text-decoration: dashed;
    
  }
  
  .customNav a {
    color: white !important;
  }
  

.paraGraph {
  color: rgb(243, 248, 243);
  text-decoration: none;
}

#aboutTe {
  background-color: rgb(255, 255, 255);
  text-align:center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

  footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom:15px;
  }