/* body */
body {
  background-color: black;
}


.card-img-top {height: 300px auto;}

.jumbosi {
  
  background-color: antiquewhite;
  text-align: center;
  align-content: center;
  padding: 30px;
  width: 100%;
}

.card-title {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  color: rgb(218, 218, 11);
}

.content {
  color: rgb(218, 218, 11);
  padding: 20px;

}
.customNav {
    
    width: 100%;
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    padding-bottom: 20px;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    font-size: 24px;
    
  }
  
  .navbar-brand {
    padding-right: 15px;
    width: 65px;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

  a:hover {color: cadetblue;}

  .navbar-nav:focus, .navbar-nav:hover {
    color: whitesmoke;
    text-decoration: dashed;
    
  }
  
  .customNav a {
    color: white !important;
  }
  
  .navCTA {
    font-size: 15px;
  }

  footer {
    text-align: center;
  }